service cloud.firestore {
  match /databases/{database}/documents {
    function isTCN() {
      return request.auth.token.email.matches('.*@(tcnbroadcasting|tcnp3)[.]com');
    }

    function isAdmin() {
      return request.auth.token.email.matches('(gunnar[.]gabrielson|brady[.]killeen)@(tcnbroadcasting|tcnp3)[.]com')
    }

    match /{document=**} {
      allow read: if isTCN();
    }

    match /lunches/{lunch} {
      allow create: if isAdmin();
      match /rounds/{number}/{voteid} {
        allow write: if isAdmin() || request.auth.token.email == voteid;
      }
    }
  }
}
