service cloud.firestore {
  match /databases/{database}/documents {
    function isTCN() {
      return request.auth.token.email.matches('.*@(tcnbroadcasting|tcnp3)[.]com');
    }
    match /{document=**} {
      allow read, write: if isTCN();
    }
  }
}
